/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    height: 100vh; /* Center content vertically */
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

input {
    width: 250px; /* Increased size */
    padding: 12px; /* Increased padding */
    margin: 10px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px; /* Increased font size */
}

.add_task {
    display: block;
    margin: auto;
}

button {
    padding: 15px 30px; /* Increased padding */
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px; /* Increased font size */
    border-radius: 8px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.delete:hover {
    background-color: #d32f2f;
}
